.article-title {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding-bottom: 20px;
  color: white;
}

.article {
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 15px;
  padding-top: 3px;
}

.article h1, h2, h3, h4 {
  color: #da4d4d;
  text-align: left;
  padding-left: 30px;
}

.article h1 {
  font-size: 25px;
}

.article h1::before {
  content: "# ";
}

.article h2 {
  font-size: 20px;
}

.article table {
  margin: 0 auto;
}

.article th {
  text-align: center;
}

.article th, td {
    border-bottom: 1px solid #ddd;
    color: black;
    text-align: center;
    padding: 5px;
    font-size: 14px;
}

.article p {
  color: black;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}

.article pre {
  color: black;
  text-align: left;
  margin: 10px 0px 10px;
  background-color: #f8f8f8;
  border: 0px;
  border-radius: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

.article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article ul, ol {
  color: black;
  list-style-position: inside;
  padding-left: 30px;
}

.article ol p {
  padding-left: 0px;
}

.article ul p {
  padding-left: 0px;
}

.article li {
  padding-left: 10px;
}

.article .caption {
  text-align: center;
}

.article p > code {
  color: #333;
  background: #f8f8f8;
}

.article li > code {
  color: #333;
  background: #f8f8f8;
}

.breadcrumb-container {
  background-color: transparent;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 0px;
  color: black;
}

.breadcrumb {
  background-color: transparent;
  border-radius: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 0px;
  color: white;
  padding-left: 0px;
}

.breadcrumb-container hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.breadcrumb-container a {
  color: #da4d4d;
}

.footer-copyright-article {
  text-align: center;
  color: rgb(194, 194, 194);
}

.footer-copyright-article a {
  color: #da4d4d;
}

#TOC {
  text-align: left;
  padding-left: 0px;
  margin-left: 0px;
  color: #da4d4d;
}

#TOC li::before {
  content: "> ";
}

#TOC ul {
  list-style: none;
  margin-left: 0;
  padding-left: 30px;
}

@media screen and (max-width: 800px) {
  .article {
    margin-left: 0;
    margin-right: 0;
  }
  
  .breadcrumb-container {
    margin-left: 0;
    margin-right: 0;
  }
}

