<!doctype html5>
<html>
<head>
  {{ partial "head.html" . }}
</head>
  <body>
    {{ partial "header.html" . }}
    
    <div class="article intermediario">
        
        <div class="row">
          <div style="float: left; padding-left: 45px; padding-top: 15px; width: 20%;">
            <img src="/hex/{{.Page.Params.slug}}.png" style="width: 100%;">
          </div>
          <div class="article-summary" style="float: left; width: 80%">
            {{ .Page.Params.desc }}
            <br>
            <a href="/material/{{.Page.Params.slug}}/tutorial">Leia mais...</a>
          </div>  
          
        </div>
        
        
        <div class="article-refs">
          
          <h1>Requisitos</h1>
          <p>Este conteúdo exige alguns conhecimentos prévios que estão listados abaixo:</p>
          
          <div class="row"> 
            {{ range .Page.Params.requisitos }}
              <div class="column">
                <a href="/material/{{.}}"><img src="/hex/{{.}}.png"></a>
              </div>
            {{ end }}  
          </div>
            
          
          <h1>Continue aprendendo</h1>
          <p>Além do <a href="/material/{{.Page.Params.slug}}/tutorial">artigo principal</a> disponibilizamos links e outros materiais que podem ajudar a se aprofundar no tema. Confira a lista abaixo:</p>
        
        {{ .Content }}
          
        </div>
        
    </div>
    
    <br>
    
  </body>
  
  <footer>{{ partial "footer.html" . }}</footer>
  
  {{ partial "scripts.html" .}}
  
</html>
