<!doctype html5>
<html>
<head>
  {{ partial "head.html" . }}
</head>
  <body>
    {{ partial "header.html" . }}
    
    <div class="row">
      
      <div class="col-md-2"></div>
    
      <div class="col-md-8 article intermediario">
        
          <div style="padding-top: 15px;">
            <div class="col-md-3">
              <img src="/hex/{{.Page.Params.slug}}.png">
            </div>
            <div class="col-md-9 article-summary">
              {{ .Page.Params.desc }}
              <br>
              <a href="/material/{{.Page.Params.slug}}/tutorial">Leia mais...</a>
            </div>  
          </div>
        
        
        <div class="col-md-12 article-refs">
  
          <h1>Requisitos</h1>
          <p>Este conteúdo exige alguns conhecimentos prévios que estão listados abaixo:</p>
          
          <div class="col-md-12">
            {{ range .Page.Params.requisitos }}
              <div class="col-md-2">
                <a href="/material/{{.}}"><img src="/hex/{{.}}.png"></a>
              </div>
            {{ end }}  
          </div>
            
            
          <h1>Continue aprendendo</h1>
          <p>Além do <a href="/material/{{.Page.Params.slug}}/tutorial">artigo principal</a> disponibilizamos links e outros materiais que podem ajudar a se aprofundar no tema. Confira a lista abaixo:</p>
        
          {{ .Content }}
            
          
        </div>
        
    </div>
    
    <div class="col-md-2"></div>
      
    </div>
      
    
  </body>
  
  <footer>{{ partial "footer.html" . }}</footer>
  
  {{ partial "scripts.html" .}}
  
</html>
