<!doctype html5>
<html>
<head>
  {{ partial "head.html" . }}
</head>

  <body>
    {{ partial "header.html" . }}
    
    <div class="container main-content">
    <div class="splash text-center">
      <p>You can order stickers from the following places:</p>
      <p><a class="bold" href="https://www.diginate.com/">Diginate</a> prints the hexagon stickers for Mozfest and also do foil stickers. They ship internationally.</p>
      <p><a class="bold" href="https://juststickers.in/">Juststickers</a> mostly ships within India. International shipping is a bit expensive unless ordered in bulk.</p>
      <p><a class="bold" href="https://www.stickergiant.com/">Sticker Giant</a> is a great company that will print hex stickers on a roll or individually. Will ship to the U.S. and internationally.</p>
      <p><a class="bold" href="https://www.stickermule.com/">Stickermule</a> mostly ships to the US. International shipping is more expensive.</p>
      <p><a class="bold" href="https://www.redbubble.com/shop/stickers">Redbubble</a> offers one-off die-cut stickers.</p>
      <p></p>
    </div>

    <p>hexagon stickers tesselate cleanly, as seen on <a class="bold" href="http://twitter.com/maxogden">@maxogden</a>'s laptop.</p>

    <div class="splash text-center">
      <p>there is also an official hexagon sticker specification, the <a class="bold" href="https://github.com/terinjokes/StickerConstructorSpec">Sticker Constructor Spec</a></p>
  
      <img src="assets/dimensions.png">
    </div>
</div>
    {{ partial "scripts.html" .}}
  </body>
</html>
