<!doctype html5>
<html>
<head>
  {{ partial "head.html" . }}
</head>
  <body>
    {{ partial "header.html" . }}
    
    <div class="article-title">
      <h1>{{ .Title }}</h1>
    </div>
    
    {{ partial "breadcrumb.html" . }}
    
    <br>
    
    <div class="article">
      <h1>Índice</h1>
      {{ .Content }}
    </div> 
    
    <br>
    
    {{ partial "breadcrumb.html" . }}
    
    {{ partial "scripts.html" .}}
    
  </body>
  
  <footer>{{ partial "footer.html" . }}</footer>
  
</html>
