<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <a class="navbar-brand" href="/">
          <img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}"></img>
        </a>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="{{ .Site.Params.github }}"><i id="github" class="fab fa-github fa-2x"></i></a>
            </li>
          </ul>
      </div>
  </nav>
</div>

