<div class="container-fluid">
  <nav class="navbar navbar-expand-sm">
      <div class="navbar-collapse">
        <a class="navbar-brand" href="/">
          <img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}"></img>
        </a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-1">
              <a href="{{ .Site.Params.github }}"><i id="social-media" class="fab fa-github fa-2x"></i></a>
            </li>
            <li class="nav-item mx-1">
              <a href="{{ .Site.Params.facebook }}"><i id="social-media" class="fab fa-facebook fa-2x"></i></a>
            </li>
            <li class="nav-item mx-1">
              <a href="{{ .Site.Params.twitter }}"><i id="social-media" class="fab fa-twitter fa-2x"></i></a>
            </li>
          </ul>
      </div>
  </nav>
</div>

