<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.1.1/tocbot.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.1.1/tocbot.css">
<script>
      
      var add_id_to_headers = function(level) {
      
        /* Add headers to scrollspy */
        var div = $(".section.level" + level);
        var h = $(".section.level" + level + " h" + level);
        
        for(var i = 0; i < div.length; i++) {
        
            var a = h[i];
            var b = div[i];
            
            a.setAttribute("id", "header-" + b.getAttribute("id"))
        }
        
      }
      
      add_id_to_headers(1);
      add_id_to_headers(2);
      add_id_to_headers(3);
      
      tocbot.init({
        // Where to render the table of contents.
        tocSelector: '#toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.article',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3',
      });
      
</script>